* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    position: sticky;
    top: 7px;
    left: 6px;
    right: 0;
    z-index: 10;
    border-radius: 5px;
    margin: 0;
    padding: 0;
   
}

.nav-drop{
    
    padding: 0;
    margin: 0;
    height: 10% !important;
}

.logo-img {
    max-width: 150px;
}

#txt-white {
    color: #fff;
    text-transform: uppercase;
}

a:hover#txt-white.nav-link {
    color: #000;
    background-color: #e793a1;
}



/* xoá div gach ngang khi ko ở chế độ laptop */
@media screen and (min-width: 700px) {
    .gachngang {
        border-right: 1px solid #29272766;
        height: 1.3rem;
        margin-top: 7px;
    }
  

  
}



.gthieu{
    text-transform: uppercase;
    text-align: center;
    
}

#hd-pink{
    color: rgb(158, 103, 112);
}

.baoquanh{
    border: 20px pink solid;
    margin-top: 32px;
    background-color: #f5c7cf;
    border-radius: 10px;
}


.img-wd{
    height: 265px;
}
.candeu{
    text-align: justify;
}
.cangiua{
    text-align: center;
}

.stiket{
    border-radius: 6px ;
    margin-top: 32PX;
    border: 1px solid #000;
    background-color: #000;
}

.btn-buy{
    margin: 10px 0;
    
}

.ve{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}
.ve2{
    color: #ccc;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.vitri{
    top: 0;
    right: 0;
}

footer{
    border-radius: 6px;
    background-color: #ccc;
    margin-top: 30px;
    padding: 20px 30px;
    background-image: url(img/bg-rp.jpg);
}

.contact-me{
    text-align: center;
   margin-top: 60px;
}
.ft-giua{
    margin: 60px 0;
}

/* .btn-ml_ft{
    margin-left: 100px;
} */

#img-icn{
    font-size: 50px;
    margin-right: 12px;
    padding-bottom: 20px;
   
}

span .mxh{
    padding-top: 26px;
}

/* .h6-email{
    padding-left: 0;
    margin-right: 20px;
    margin-left: 0;
} */
#h6cuoi{
   margin-top: 30px;
    margin-left: 20px ;
}

.mess{
    color: #be1e76d5;
}
.gg{
    color: red;
}

.banquyen{
    background-color: #ccc;
    text-align: center;
    border-radius: 6px;
}